mat-card{
    border-style: solid;
    border-color: purple;
    box-shadow: 1px 1px 1px #000;
    margin-bottom: 80px;
}

.mat-icon{
    font-size: 40px;
}

.mat-card-title{
    font-size: 20px;
}


.mat-form-field{            
    padding: 10px;
}

.mat-card-subtitle{
    padding-top: 20px;
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.ev{
    padding: 5px;
}

label{
    color: purple;
    font-size: 20px;            
    text-shadow: 1px 1px 1px black;
}
    
input{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    
}

h2{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.mat-button{
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: #7b1fa2;
    box-shadow: 1px 1px 1px black;
    

}

.form-group1{
    width: 40%;
}

.form-group2{
    width: 60%;
}

.form-group3{
    width: 20%;
}

.form-group4 {
width: 40%;
}


.form-group6, .form-group5, .form-group7 {
width: 40%;
}


       

 

  
